:root{
  --text-color:#FFFFFF;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--text-color);
  text-shadow: -1.39839px 2.09758px 0.699193px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: center;
  /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply; */
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
  height: auto;
}
.App{
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  margin-bottom: 2em;
}
.Weather{
  width: 100%;
}
.Search {
  width: 100%;
  padding: 0 3em;
  flex-direction: column;
  justify-content: center;
}
form,
.Search {
  display: flex;
}

form{
  width: 60%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 1em;
}
.location {
  font-weight: 300;
  font-size: 1rem;
  line-height: 2.375rem;
  text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.125rem;
  margin-bottom: 0.7em;
}

.search-input {
  padding-left: 1em;
  width: 100%;
  max-width: 130px;
  margin-right: 0.6em;
}
.button-input {
  cursor: pointer;
  max-width: 48px;
}
.button-input:hover,.button-input:focus{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.button-input,
.search-input {
  background: linear-gradient(
    116.79deg,
    rgba(255, 255, 255, 0.226) 0%,
    rgba(255, 255, 255, 0.12) 99.45%
  );
  line-height: 2.375rem;
  width: 100%;
  color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  backdrop-filter: blur(50px);
  border-radius: 3px;
  font-weight: 300;
  font-size: 1rem;
}
.degree {
  filter: drop-shadow(-4.51px 2.26px 0.75px rgba(0, 0, 0, 0.15));
  font-weight: 100;
  font-size: 10.25rem;
  line-height: 12.3125rem;
  position: relative;
}
.big-icon{
    width: 100%;
    max-width: 143.23px;
    max-height: 100px;
      margin: 0 auto;
}

.unit {
  bottom: 90%;
  position: absolute;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.375rem;
  letter-spacing: -0.05em;
}
.date{
font-weight: 300;
font-size: 1.5rem;
line-height: 2.6875rem;
text-shadow: -1.51px 2.26px 0.75px rgba(0, 0, 0, 0.1);
padding-left: 0.6em;
}
ul{
    padding: 0;
    list-style: none;
    margin-bottom: 2em;
}
ul li{
    display: inline-block;
    border-right: 1px solid #FFFFFF;
    padding: 0 0.7em;
    font-family: 'Overpass';

}
ul li:last-child{
    border: none;
}
.fa-cloud-rain,.fa-droplet,.fa-wind{
    padding: 8px;
}
.Days{
  margin-bottom: 1em;
  text-align:center ;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  padding: 0 1em;
}
.Day{
  min-width: 100px;
  width: 12%;
  padding: 2em 0;
  background: rgba(255, 255, 255, 0.151);
border-radius: 5px;
}
.day-degree,.week-day-name{
  font-family: 'Overpass';
font-weight: 400;
font-size: 1rem;
line-height: 1.875rem;
text-align: center;
text-shadow: -1.13852px 1.70778px 0.569258px rgba(0, 0, 0, 0.1);
}
.small-icon{
  max-width: 67.57px;
  width: 100%;
  max-height: 56.34px;
    margin: 0 auto;
}
@media (max-width: 576px) { 
  :root{
    font-size: 10px;
  }
 }